@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add spacing above pagination dots */
.swiper-pagination {
  margin-top: 20px!important;
}

.swiper-wrapper {
  margin-bottom: 50px;;
}

/* Style navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #6366F1!important; /* Tailwind orange-400 */
  font-weight: bold!important;
}

.swiper-pagination-bullet-active {
  background-color: #6366F1!important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px;
}

.input {
  @apply w-full border px-3 py-2 rounded;
}

.sticky {
  position: sticky;
  top: 20px;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .sticky {
    position: static;
  }
}